<h1>Seja Bem Vindo</h1>
<p>
<strong>
Data:
</strong>
    <%= data_br(Date.today) %>
</p>

<%= render "menu" %>

<p><%= nome_aplicacao %></p>
<p>Você está em ambiente de <strong><%= ambiente_rails %></strong></p>
<p><%= @nome %></p>